/* You can add global styles to this file, and also import other style files */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 @import 'aos/dist/aos.css';
//  @use 'swiper/css';
// @use 'swiper/css/navigation';
// @use 'swiper/css/pagination';
//  /* Custom global styles */
 @layer base {
 body {
 @apply font-sans antialiased;
 }
  h1, h2, h3, h4, h5, h6 {
 @apply font-bold;
 }
 }
 @layer components {
 .btn-primary {
    @apply bg-primary text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition-all duration-300;
 }
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
